{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Examples</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
{% load tree_menu_tags %}
<header>
    <div>
        <h2>Current page:</h2>
        <h2>url: {{ url }}</h2>
        <h2>name: {{ name }}</h2>
    </div>

</header>
<div class="menus">
    <div>
        <h2 class="title">Example menu 1</h2>
        {% draw_menu 'Example menu 1' %}
    </div>
    <div>
        <h2 class="title">middle menu</h2>
        {% draw_menu 'middle menu' %}
    </div>
    <div>
        <h2 class="title">side menu</h2>
        {% draw_menu 'side menu' %}
    </div>
</div>

</body>
</html>